<template>
  <div class="row">
    <div class="bg-white p-3 w-100">
        <h6>Filtros</h6>
        <user-filter-form-component @filtro="filtrar" @remove-filtro="removeFiltro"/>
    </div>
    <user-table-component :users="filtrados || users"/>
</div>
</template>

<script>

export default {
    props: ['users'],
    data() {
        return {
            filtrados: null,
        }
    },
    methods: {
        filtrar(data) {
            if(data) {
                this.filtrados = this.users.filter(user => data.nome && user.name.includes(data.nome.toLowerCase()) || data.email && user.email.includes(data.email.toLowerCase()));
            }
        },
        removeFiltro() {
            this.filtrados = null;
        }
    },
    mounted() {
        this.users.forEach(user => {
            user.name = user.name.toLowerCase();
            user.email = user.email.toLowerCase();
        });
    }
}
</script>