<template>
  <form class="form-inline my-2 my-lg-0" @submit.prevent="search">
        <div class="form-group w-100">
            <input class="form-control mr-sm-2 w-25" type="search" v-model="email" placeholder="E-mail" aria-label="E-mail">
            <input class="form-control mr-sm-2 w-25" type="search" v-model="nome"  placeholder="Nome"   aria-label="Nome">
            <input class="form-control mr-sm-2 w-25" type="search" v-model="cpf"   data-mask="000.000.000-00" placeholder="999.999.999-99">
            <div class="btn-group ml-2" role="group">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit">Pesquisar</button>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="button" @click="clearInput">Limpar Campos</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
 data() {
     return {
         email: '',
         nome: '',
         cpf: '',
     };
 },
 methods: {
     clearInput() {
         this.email = this.nome = this.cpf = '';
        this.$emit('remove-filtro');
     },
     search() {
         if(this.email || this.nome) {
             this.$emit('filtro', { email: this.email, nome: this.nome, cpf: this.cpf });
         }
     }
 }
}
</script>