<template>
  <form class="p-3 bg-primary rounded-right" style="width: 550px;">
  <div class="form-group">
    <label for="exampleInputNome1">Nome</label>
    <input type="text" class="form-control" id="exampleInputNome1" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputTelefone1">Telefone</label>
    <input type="text" class="form-control" id="exampleInputTelefone1" placeholder="Telefone">
  </div>
    <div class="form-group">
      <label for="">Mensagem</label>
      <textarea class="form-control" rows="3" style="resize: none;"></textarea>
    </div>

  <button type="submit" class="btn btn-outline-light float-right">Enviar</button>
</form>
</template>

<script>
export default {

}
</script>

<style>

</style>